<!--https://github.com/Sitecore/configs-->

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <hooks>
      <hook type="Sitecore.Diagnostics.HealthMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
      <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
        <patch:delete />
      </hook>
      <hook type="Sitecore.CES.DeviceDetection.Hooks.EnsureDeviceDetectionInitialization, Sitecore.CES.DeviceDetection">
        <patch:delete />
      </hook>
    </hooks>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.ShowHistory, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Analytics.Pipelines.Initialize.ShowXdbInfo, Sitecore.Analytics">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.DumpConfigurationFiles, Sitecore.Kernel">
          <patch:delete />
        </processor>
        <processor type="Sitecore.Pipelines.Loader.InitializeScheduler, Sitecore.Kernel">
          <patch:delete />
        </processor>
      </initialize>
      <contentSearch.queryWarmup patch:source="Sitecore.ContentSearch.config">
        <processor type="Sitecore.ContentSearch.Pipelines.QueryWarmups.RunQueries, Sitecore.ContentSearch">
          <patch:delete />
        </processor>
      </contentSearch.queryWarmup>
      <getTranslation>
        <patch:delete/>
      </getTranslation>
      <getTranslation />
    </pipelines>
    <scheduling>
      <!-- Update this agent so it doesn't run every 10 seconds. Appears to be related to email contact management. -->
      <agent type="Sitecore.ListManagement.Operations.UpdateListOperationsAgent, Sitecore.ListManagement">
        <patch:attribute name="interval">00:30:00</patch:attribute>
      </agent>

      <agent type="Sitecore.ContentSearch.SolrProvider.Agents.IndexingStateSwitcher, Sitecore.ContentSearch.SolrProvider">
        <patch:attribute name="interval">08:00:00</patch:attribute>
      </agent>

      <!-- Never automatically build core or master index -->
      <agent name="Core_Database_Agent">
        <patch:attribute name="interval">00:00:00</patch:attribute>
      </agent>
      <agent name="Master_Database_Agent">
        <patch:attribute name="interval">00:00:00</patch:attribute>
      </agent>
    </scheduling>

    <settings>
      <setting name="Counters.Enabled" >
        <patch:attribute name="value">false</patch:attribute>
      </setting>
      <!-- !!!WARNING!!! this may have effect on parts of functionality such as index update strategies. Use with caution. -->
      <setting name="EnableEventQueues">
        <patch:attribute name="value">false</patch:attribute>
      </setting>
    </settings>
  </sitecore>
</configuration>